<div class="ui-g-12">
    <!-- etiqueta para los mensajes-->
    <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
    <div class="card card-w-title">
        <h1>{{ nombre | uppercase }}</h1>
        <p-tabView>
            <!-- FICHA DE SUBIR ARCHIVOS-->
            <p-tabPanel header="Subir Archivos" leftIcon="ui-icon-refresh" *ngIf="booleanGrupo">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-6">
                        <div class="card">
                            <h1>Subir Archivo</h1>
                            <input class="form-control" type="file" id="file" (change)="preview($event.target.files)"
                                accept=".pdf">
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-4">
                                <p-checkbox (onChange)="onChange()"  value="FELICITACIONES" label="Felicitaciones" [(ngModel)]="tipo_memo" >
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <p-checkbox (onChange)="onChange()" value="LLAMADA_ATENCION" label="Llamada de Atención" [(ngModel)]="tipo_memo" >
                                </p-checkbox>
                            </div>
                        </div>
                    </div>

        

                    <div class="ui-g-12 ui-lg-6">
                        <div class="card">
                            <h1>Archivos</h1>
                            <div class="list-group">
                                <button type="button" *ngFor="let list of listadoArchivos; let i = index"
                                    class="list-group-item list-group-item-action" [value]="list"
                                    (click)="mostrarImg($event, i)">
                                    {{ list }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <!-- FIN DE SUBIR ARCHIVOS -->
        </p-tabView>
    </div>
</div>